table {
  max-width: 300px;
  margin: 0 auto;
  font-size: 30px;
  text-align: center;
  color: red;
}

input[type="button"] {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px 20px;
  border: 2px solid red;
  font-size: 20px;
  transition: all 0.2s ease-in;
}

input[type="button"]:hover {
  border-radius: 50%;
  transform: rotate(360deg);
}
